# Check https://chainlist.org/ for RPC endpoints
# You do not have to fill all these networks, just the ones you need.
GOERLI_RPC_URL="<URL>"
MUMBAI_RPC_URL="<URL>"
# This will be the owner of the contract
PRIVATE_KEY="<PRIVATE_KEY>"
