# Compiler files
cache/
out/
soljson-*

# Ignores development broadcast logs
!/broadcast
/broadcast/*/5/
/broadcast/*/1337/
/broadcast/**/dry-run/

# Node modules
node_modules/
*.log
# Dotenv file
.env
**/.DS_Store
